body {
    margin: 0;
    background-color: #1E1E1E;
}

header {
    width: 115px;
    height: 28px;
    margin-top: 40px;
    margin-left: 40px;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    display: flex;
    min-height: 800px;
    width: 100%;
    align-items: center;
}

footer {
    background-color: #24221F;
    border-radius: 5px;
    width: 572px;
    height: 800px;
    margin-top: 50px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 334px;
    height: 64px;
    margin-top: 55px;
    margin-left: 119px;
}

h4 {
    margin: 0;
    color: #D4CCB6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

form {
    width: 335px;
    margin-left: 86px;
}

fieldset {
    width: 335px;
    height: 73px;
    margin-top: 27px;
    margin-left: 0px;
    padding: 0;
    border: none;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.input-wrapper label {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #AFB6C2;
}

.input-wrapper input {
    width: 335px;
    height: 44px;

    padding: 0px 30px;

    border-radius: 4px;
    border: 1px solid #868686;

    background: #24221F;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #A9AFB9;
}

.input-wrapper input:focus {
    outline: 2px solid #FFC632;
}

.checkbox-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
}

.checkbox-wrapper input {
    position: absolute;
    width: 20px;
    height: 20px;

    opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    border-radius: 4px;
    border: 1px solid #868686;
    width: 20px;
    height: 20px;
    display: block;
}

.checkbox-wrapper input:checked+label::before {
    background-image: url(../img/check.svg);
    background-color: #FFC632;
}

.checkbox-wrapper input:focus+label::before {
    outline: 2px solid #FFC632;
}

.checkbox-wrapper label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #A9AFB9;
}

.button-wrapper {
    margin: 0px;
}

.button-wrapper button {
    width: 397px;
    height: 51px;

    border-radius: 4px;
    border: none;
    background-color: #FFC632;

    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.h3-wrapper {
    text-align: center;
}

.h3-wrapper h3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #FFC632;
}

.h3-wrapper h3 a {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFC632;
    text-decoration: none;
}

.button1 {
    margin-right: 30%;
    margin-top: 5%;
    background-color: #FFC632;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: none;
}

.button1:hover {
    background-color: #D4CCB6;
}

.button1:active {
    background-color: #FFC632;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-link {
    text-decoration: none;
    color: #473404;
    font-family: Arial, Helvetica, sans-serif;
}