body{
    margin: 0;
    background-color: #1E1E1E;
}
header{
    width: 115px;
    height: 28px;
    margin-top: 40px;
    margin-left: 40px;
}

main {
    display: flex;
    justify-content: space-between;
}


footer {
    background-color: #24221F;
    border-radius: 5px;
    width: 572px;
    height: 512px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    min-height: 800px;
    width: 100%;
    align-items: center;
}


.titulo {
    width: 334px;
    height: 64px;
    margin-top: 55px;
    margin-left: 119px;
}

h4 {
    margin: 0;
    color: #D4CCB6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.img {
    position: static;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
}

main img {
    position: static;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}