 body {
   background-color: #1E1E1E;
   margin: 0px;
 }

 main {
   display: flex;
   justify-content: space-between;
 }

 .logo {
   margin-top: 40px;
   margin-left: 40px;
 }

 section {
   display: flex;
   flex-direction: column;
   background-color: #24221F;
   border-radius: 5px;
   width: 572px;
   height: 512px;
   margin-top: 250px;
   margin-left: 74px;
   margin-right: 174px;
   align-items: center;
   gap: 10px;
 }

 .image-home {
   width: 50%;
   height: auto;
 }


 .ul {
   margin: 0;
   list-style: none;
 }


 .li {
   margin: 0;
   background-color: rebeccapurple;
 }



 .button1 {
   margin-top: 200px;
   background-color: #FFC632;
   width: 334px;
   height: 51px;
   font-size: 20px;
   text-align: center;
   border: none;
 }

 .button2 {
   margin-top: 0;
   background-color: #FFC632;
   width: 334px;
   height: 51px;
   font-size: 20px;
   text-align: center;
   border: none;
 }

 button:hover {
   background-color: #dfac2c;
 }