<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cadastro.css" />
    <script src="../script/cadastro.js"></script>
    <script src="../script/mascaras.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/imask"></script>
    <script></script>
    <title>Cadastro</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="../index.html"
          ><img class="logo" src="../img/logo.png" alt=""
        /></a>
      </header>
      <main>
        <h4 class="h4">
          <img src="../img/log-in.png" alt="" /> Faça o seu cadastro
        </h4>
        <form action="" class="form" name="form">
          Nome:
          <input
            class="input"
            type="text"
            id="name"
            name="name"
            placeholder="Digite seu nome"
          />
          Email:
          <input
            class="input"
            type="email"
            id="email"
            name="email"
            placeholder="email@mail.com.br"
          />
          Senha:
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            placeholder="Digite sua senha"
          />
          CPF ou CNPJ:
          <input
            class="input"
            onkeypress="mascaraMutuario(this,cpfCnpj)"
            maxlength="17"
            type="text"
            id="cpf_cnpj"
            name="cpf_cnpj"
            placeholder="Digite seu CPF ou CNPJ"
          />
          Data de Nascimento:
          <input
            class="input"
            type="date"
            id="birthday"
            name="birthday"
            placeholder="01/01/1990"
          />
          Aceitar termos:
          <input class="checkbox" type="checkbox" name="checkbox" />
          <button
            type="button"
            class="button1"
            onclick="fieldValidation(); registerUser()"
          >
            Cadastrar
          </button>
        </form>
      </main>
      <aside>
        <img class="image-home" src="../img/side-image.jpg" alt="" />
      </aside>
    </div>
  </body>
</html>
