<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css">
  <script src="../script/home.js"></script>
  <script src="../script/weatherapi.js"></script>
  <title>Camp.in</title>
</head>
<body>
  <header>
    <a href="index.html">
      <img src="../img/logo.png" alt="logo cabana camping">
    </a>
  </header>

  <main>
        <div class="titulo">
            <h1 class="h1">
              <img src="../img/log-in.png"  alt="" /> Seus endereços
            </h1>
        </div>
        <div>
          Localização: <span id="localizacao"></span>
          Temperatura: <span id="temperatura"></span>
        </div>
    
              <table border id="tabela">
                <thead>
                  <tr>
                    <td>Titulo</td>
                    <td>Cep</td>
                    <td>Endereço</td>
                    <td>Numero</td>
                    <td>Complemento</td>
                    <td>Ação</td>
                  </tr>
                </thead>
                <tbody id="corpo-tabela">  
                </tbody>
              </table>
              <section>
                <a href="./endereco.html"><button>Novo Endereço</button></a>
                
              </section>
          </main>
                