<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../script/login.js"></script>
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="index.html">
          <img class="logo" src="../img/logo.png" alt="">
        </a>
      </header>
      <main>
        <h4 class="h4"><img src="../img/log-in.png" alt=""> Faça o seu Login</h4>
    <form action="" class="form" name="form">
      Email: <input class="input" type="email" id="email" name="email" placeholder="email@mail.com.br">
      Senha: <input class="input" type="password" id="password" name="password" placeholder="Digite sua senha">
      <button type="button" class="button1">Login</button>
    </form>
    </main>
    <aside><img class="image-home" src="../img/side-image.jpg" alt=""></aside>
    <footer></footer>
  </div>
  </body>
</html>